@font-face{
    font-family: "BYekan";
    src: url("../fonts/yekan/BYekan-webfont.eot") format("eot"),
        url("../fonts/yekan/BYekan-webfont.woff") format("woff"),
        url("../fonts/yekan/BYekan-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body{
    background: url(/assets/images/body_back4.jpg) repeat;
}

*{
    font-family: "BYekan";
    direction: rtl;
    text-align: right;
    /* box-sizing: content-box */
}


/* scrollbars ------------------ */
::-webkit-scrollbar{
    width: 5px !important;
}

::-webkit-scrollbar-track{
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb{
    background: #888;
}

::-webkit-scrollbar-thumb:hover{
    background: #555;
}

:root{
    --transition_300 : all 300ms ease
}

.hoverable_text{
    transition: all 200ms ease;
}
.hoverable_text:hover{
    text-shadow: 0 0 3px black;
}

.pointer{
    cursor: pointer !important;
}

.dir_ltr{
    direction: ltr !important;
}

.w_6rem{
    width: 6rem !important;
}

td , th {
    text-align: center !important;
}

.top_navbar{
   height: 64px;
}

.top_navbar .navbar-brand{
    width: 60px;
}

.top_navbar .navbar-brand img{
    transition: var(--transition_300);
    filter: drop-shadow(0 0 6px white);
    -webkit-filter: drop-shadow(0 0 6px white);
}

.top_navbar .navbar-brand img:hover{
    filter: drop-shadow(0 0 3px white);
    -webkit-filter: drop-shadow(0 0 3px white);
}

.top_navbar .left_content i{
    font-size: 1.3rem;
    transition: all 200ms ease;
}
.top_navbar .left_content i:hover{
    color:white;
}
.top_navbar .right_content{
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top_navbar .mini_menu{
    font-size: 0.8rem;
}
.top_navbar .mini_menu i{
    font-size: 0.8rem;
}
.top_navbar .alarm_count{
    position: absolute;
    top: -5px;
    right: -8px;
    background-color: orange;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width:768px){
    .top_navbar .right_content{
        background-color: #6c757d  !important;
        width: 100px;
    }
}

/* sidebar start------->>>>>>> */

#sidebar_section{
    position: fixed;
    right: 0;
    top: 64px;
    height: calc(100vh - 64px);
    padding: 0;
    z-index: 1000;
}
#sidebar_section .mini_sidebar{
    width: 70px;
    transition: all 300ms ease;
}

#sidebar_section:hover .mini_sidebar.collapsedd{
    width:250px;
}

#sidebar_section .mini_sidebar .hiddenable{
    transition: all 300ms ease;
}

#sidebar_section .mini_sidebar.collapsedd .hiddenable{
    transform: scale(0);
    opacity: 0;
    color: white;
}

#sidebar_section:hover .mini_sidebar.collapsedd .hiddenable{
    transform: scale(1);
    opacity: 1;
}

#sidebar_section .mini_sidebar.expanded{
    width:250px;
}

#sidebar_section .mini_sidebar.expanded .hiddenable{
    opacity: 1;
    color: white;
    transform: scale(1);
}

#sidebar_section .mini_sidebar li{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#sidebar_section .mini_sidebar li:not(:first-child):hover{
    background-color: rgb(85, 84, 84);
}

#sidebar_section .mini_sidebar li:not(:first-child){
    justify-content: right;
}

#sidebar_section .mini_sidebar li .sidebar_avatar_name{
    position: absolute;
    bottom: 0;
}

#sidebar_section .mini_sidebar li.avatar_li{
    height: 110px !important;
    overflow: hidden;
}

#sidebar_section .mini_sidebar .avatar_box{
    width: 65px;
}

#sidebar_section .mini_sidebar .avatar_box img{
    box-shadow: 0 0 5px white;
}

#sidebar_section .mini_sidebar .icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* sidebar end-------<<<<<<< */


/* content start------->>>>>>> */
#content_section{
    width: calc(100% - 70px);
    height: calc(100vh - 64px);
    position: fixed;
    top: 64px;
    left: 0;
    overflow: auto;
    transition: all 300ms ease;
    background: url(/assets/images/body_back4.png) repeat;
}
#content_section.with_sidebar{
    width: calc(100% - 250px);
}


/* content end-------<<<<<<< */
